<!DOCTYPE html>
<html>
<head>

  <title>Dashboard</title>
  <style>
    .logout{
      text-align: center;
      background: white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      padding: 20px;
      text-decoration: none;
      border-radius: 10px;
      color: black;
    }
  </style>
</head>
<body>
  <h1 id="welcome-message">Loading...</h1>
 <a href="http://localhost:5000/logout" class="logout">Logout</a>
  <script>
    fetch('/user_data')
      .then(res => res.json())
      .then(data => {
        console.log(data)
        document.getElementById('welcome-message').textContent = `Welcome, ${data.username} and \n Your ID is : ${data._id}`;

      })
      .catch(err => {
        document.getElementById('welcome-message').textContent = 'Unauthorized';
      });
  </script>
</body>
</html>
